<div class="mt-4" [formGroup]="checkoutForm">
    <h4 class="p-2">Choose your delivery method</h4>
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let item of deliveryMethods">
            <input 
            type="radio"
            id={{item.id}}
            value={{item.id}}
            formControlName = "deliveryMethod"
            class="curstom-control-input"
            (click)="setShippingPrice(item)"
            >
            <label for="{{item.id}}" class="px-2" >
                <strong>{{item.shortName}} - {{item.price | currency}}</strong>
            </label>
            <span class="label-description"> {{item.description}}</span>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to Address</button>


    <button class="btn btn-outline-primary" cdkStepperNext>
       Go to Review <i class="fa fa-angle-right"></i></button>
</div>